.header {
  
  background-size: cover;
  min-height: 100vh;
}


.header .navbar {
  background-color: transparent !important;
}

#myFrame {
    position: relative;
    top:0;
    z-index: 1;
}
.body{
   background: url(images/IMG_5397.jpeg) no-repeat center; 
   opacity: 50%; 
}